.navbar-custom {
    background-color: #232F3E;
  }
  .navbar-custom .nav-link {
    color: white;
    font-weight: bold;
  }
  .carousel-item img {
    object-fit: cover;
    height: 500px;
  }
  .info-bar {
    background-color: #232F3E;
    color: white;
    padding: 10px 0;
  }
  .info-bar i {
    margin-right: 5px;
  }
  .search-bar {
    width: 300px;
  }
  
a.text-dark,
a.text-dark:focus,
a.text-dark:hover,
a.text-dark:active {
    text-decoration: none !important;
}
