:root {
  --primary-color: #232F3E;
  --secondary-color: #37475A;
  --accent-color: #FF9900;
  --text-color: #FFFFFF;
}

.navbar-custom {
    background-color: #232F3E;
  }
  .navbar-custom .nav-link {
    color: white;
    font-weight: bold;
  }
  .carousel-inner img {
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse l'espace tout en conservant ses proportions */
    height: 600px; /* Ajustez la hauteur selon vos besoins */
}
  .info-bar {
    background-color: #232F3E;
    color: white;
    padding: 10px 0;
  }
  .info-bar i {
    margin-right: 5px;
  }
  .search-bar {
    width: 300px;
  }
  
a.text-dark,
a.text-dark:focus,
a.text-dark:hover,
a.text-dark:active {
    text-decoration: none !important;
}


/* Footer */
.footer-custom {
    background-color: #232F3E;
    color: white;
}

.footer-custom h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-custom ul {
    padding: 0;
    list-style: none;
}

.footer-custom ul li {
    margin-bottom: 10px;
}

.footer-custom ul li a {
    color: white;
    text-decoration: none;
}

.footer-custom ul li a:hover {
    text-decoration: underline;
}

.footer-custom i {
    margin-right: 8px;
}

.footer-custom .bi-facebook:hover {
    color: #3b5998;
}

.footer-custom .bi-instagram:hover {
    color: #e4405f;
}

.footer-custom .bi-twitter:hover {
    color: #1da1f2;
}

/* Modifier la couleur primaire des boutons Bootstrap */
.btn-primary {
    background-color: #232F3E !important;
    border-color: #232F3E !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #1d2733 !important; /* Couleur légèrement plus foncée pour le hover */
    border-color: #1d2733 !important;
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Par défaut, la notification est masquée */
}
.notification.show {
    display: block; /* Afficher la notification */
}

